.editBtn
{
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: green;
  color: white;
  margin: 5px;
  padding: 0.5rem 1.5rem
  
}

.viewbtn{
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: rgb(26, 90, 230);
  color: white;
  margin: 5px;
  padding: 0.5rem 1.5rem
}

.viewbtn2{
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: rgb(230, 26, 26);
  color: white;
  margin: 5px;
  padding: 0.5rem 1.5rem
}

.deletebtn{
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: red;
  color: white;
  padding: 0.5rem 1.5rem
}

@media(max-width:1000px)
{
  .editBtn
  {
    width: 100%;
  }
}